@import './src/assets/scss/utility/functions.scss';

// Text
$textBase: #ffffff;
$textPrimary: #030235;
$textSecondary: #98a0ad;
$textHover: #0A086D;

// Background
$mainBackground: #fafafb;
$backgroundPrimary: #030235;
$backgroundHover: #0A086D;
$backgroundWhite: $textBase;
$backgroundGray: #f5f5f5;
$backgroundGrayHover: #EFEEF2;

// Border
$borderBase: #D0D3D8;
$borderHover: $backgroundPrimary;
$borderError: #7C0505;
$borderSuccess: #2B7907;