$radiusButton: toRem(8);
$radiusCard: toRem(12);

$containerMaxWidth: toRem(1200 - 240 * 2);

$containerPaddingMobile: 5%;
$containerPaddingTablet: 6.769%;
$containerPaddingTabletLate: 5.729%;
$containerPaddingDesktop: toRem(20);

$zIndexSidebar: 10;
$zIndexModal: 11;
$zIndexToast: 100;
$zIndexContextMenu: 100;

$sidebarWidthS: toRem(240);
$sidebarWidthM: toRem(320);
$sidebarHeadHeight: toRem(56);

$selectHeight: toRem(46);