.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: toRem(80) toRem(70);
    height: toRem(688);
    min-width: toRem(726);
    background-color: $backgroundWhite;
    border-radius: toRem(28);
    box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02), 0 11px 15px rgba(95, 137, 158, 0.04);
    &__title {
        margin-bottom: toRem(40);
    }
    &__content {
        flex-grow: 1;
    }
    &__params {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__donation {
        margin-top: toRem(40);
        color: $textPrimary;
        font-size: toRem(15);
        & > a,
        & > p {
            display: inline-block;
        }
        & > a {
            margin-left: toRem(4);
            font-weight: 600;
        }
    }
}